.movies {
    margin: 0 auto;
}

.movies__container{
    padding: 70px 70px 10px;
}

@media screen and (max-width: 768px) {
    .movies__container{
        padding: 70px 30px 10px;
    }
}

@media screen and (max-width: 468px) {
    .movies__container{
        padding: 70px 10px 10px;
    }
}