.portfolio {
    width: 100%;
}

.portfolio__title {
    color: #8B8B8B;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.portfolio__content {
    padding-top: 50px;
    list-style-type: none;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.portfolio__subtitle {
    padding: 15px 0; 
    border-bottom: 1px solid #424242;
}
/* padding в макете 19px, но пришлось уменьшить, чтобы на самом деле ему соответствовать */

.portfolio__subtitle:first-of-type {
    padding-top: 0;
}

.portfolio__subtitle:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

.portfolio__link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    transition: opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    cursor: pointer;
}

.portfolio__link:hover {
    opacity: 0.7;
}



.portfolio__text {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.04em;
    text-align: left;
}

.portfolio__arrow {
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.04em;
    color: #fff;
}