* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  min-height: 100vh;
  background-color: rgba(32, 32, 32, 1);
}

.page__container {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}