.navigation {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    left: 0;
    z-index: 350;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out;
    -webkit-transition: right 0.3s ease-in-out;
    -moz-transition: right 0.3s ease-in-out;
    -ms-transition: right 0.3s ease-in-out;
    -o-transition: right 0.3s ease-in-out;
}

.navigation_opened {
    visibility: visible;
    transition: right 0.3s ease-in-out;
}

.navigation__container {
    height: 100vh;
    width: 520px;
    padding: 159px 90px 92px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;    
    background-color: #202020;;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.navigation__container_landing {
    background-color: #073042;
}

.navigation__burger-menu {
    display: none;
    gap: calc(28px - 4px);
    list-style-type: none;
}

.navigation__burger-menu_opened {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.navigation__burger-button_opened {
    background: url('../../images/close_btn.svg') no-repeat center;
    border: none;
    display: block;
    position: absolute;
    top: 28px;
    right: 28px;
    width: 22px;
    height: 22px;
    align-self: flex-end;
    opacity: 1;
    transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    cursor: pointer;
}

.navigation__burger-item {
    padding-bottom: 4px;
}

.navigation__burger-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    cursor: pointer;
}

.navigation__burger-link.active {
    border-bottom: 2px solid #fff;
    padding-bottom: inherit;
}

.navigation__burger-link:hover {
    opacity: 0.7;
}

.navigation__profile-button {
    width: 100px;
    height: 32px;
    display: flex;
    align-self: center;
    cursor: pointer;
}

.navigation__profile-button_landing {
    background: url('../../images/landing_profile_button.svg') no-repeat bottom;
}

.navigation__profile-button_movies {
    background: url('../../images/main_profile_button.svg') no-repeat bottom;
}

.navigation__profile-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 769px) {
    .navigation__burger-menu_opened {
        display: flex;
    }
    .header__auth-nav {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .navigation {
        display: none;
    }
    .navigation__burger-button_opened {
        display: none;
    }
}
