.register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register__container {
    padding-top: 70px;
    width: 396px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 768px) {
    .register__container {
        padding-top: 232px;
    }
}

@media screen and (max-width: 485px) {
    .register__container {
        width: 260px;
        padding-top: 56px;
        align-items: center;
    }
}