.register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register__container {
    padding-top: 70px;
    width: 396px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

